/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
}

.button-primary-color {
  background: #fd6e0a;
  border-radius: 5px;
  border-color: transparent;
  color: white;
  width: 210px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  text-align: center;
}

.button2 {
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  border-color: #fd6e0a;
  border-radius: 5px;
  background-color: white;
  width: 210px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 230px;
}

nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  margin-right: 50px;
  color: #474747;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.title-r {
  color: #fd6e0a;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* Header related syles */

.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 50px 40px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.hi {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0px;
}

.name {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 0px;
}

.shortsummary {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}

/* Styles for main area */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 150px;
  margin: 130px 0px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

main {
  max-width: 1140px;
  margin: 0px auto;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}

.about-info-1 {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}

.about-info-2 {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 2px;
}

#sd {
  padding: 30px 150px;
  margin-top: 0px;
}

#sh {
  margin-bottom: 0px;
}

.skills {
  display: flex;
  gap: 24px;
}

.skill-name {
  padding: 30px;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  color: #181818;
}

.skill-description {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

/* resume part style */

.resume-container {
  display: flex;
  gap: 75px;
  justify-content: space-between;
}
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.resume-degree {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
}

.resume-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}

.resume-des {
  line-height: 28px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}

.line {
  height: 1px;
}

.download-cv {
  text-align: center;
  margin-top: 70px;
}
